video.video-stream.html5-main-video {
	/*transition: .5s filter ease;*/
}
body.ytp-rgb-stretcher video.video-stream.html5-main-video {
	filter: url(#yt-rgb-fix);
}

@keyframes ytp-rgb-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.ytp-button.ytp-rgb-button {
	animation: ytp-rgb-fadein .4s ease 1;
}